{{ form_start(articleForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(articleForm.title, {
        label: "Titre de l'article"
    }) }}
    <div id="autocomplete" class="autocomplete">
        {{ form_row(articleForm.author, {
            label: "Auteur"
        }) }}
        <ul class="autocomplete-result-list"></ul>
    </div>

    {{ form_row(articleForm.location, {
    label: 'Localisation',
        attr: {
            'data-specific-location-url': path('admin_article_location_select'),
            'class': 'js-article-form-location'}
    }) }}

    <div class="js-specific-location-target">
        {% if articleForm.specificLocationName is defined %}
            {{ form_row(articleForm.specificLocationName, {
                label: 'Spécifier la localisation'
            }) }}
        {% endif %}
    </div>

    {{ form_row(articleForm.content, {
        label: 'Contenu'
    }) }}

    {% if articleForm.publishedAt is defined %}
        {{ form_row(articleForm.publishedAt, {
            label: 'Date de publication'
        }) }}
    {% endif %}

    <input type="submit" class="btn btn-primary" value="{{ button_text }}">
{{ form_end(articleForm) }}