{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Créer un nouvel article {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier un article</h1>
    <hr>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('article_admin/_form.html.twig', {
        button_text: 'Mettre à jour'
    }) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <script src="{{ asset('js/autocomplete.js') }}"></script>
{% endblock %}