{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Accueil
{% endblock %}

{% block body %}
    <h1 class="text-center">Accueil</h1>

    <div class="row">
        {% for article in articles %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ asset(article.imagePath) }}" class="card-img-top" alt="...">
                <div class="tags-home">
                    {% for tag in article.tags %}
                        <span class="badge badge-info">{{ tag.name }}</span>
                    {% endfor %}
                </div>
                <hr>
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p>Publié par {{ article.author }} - {{ article.publishedAt ? article.publishedAt|ago }}</p>
                    <p>{{ article.nonDeletedComments|length }} commentaires</p>
                    <a href="{{ path('news', {'slug': article.slug }) }}" class="btn btn-primary">Lire l'article</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

