{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {{ article.title }} {% endblock %}
{% block body %}
    <article>
        <div class="header-article">
            <img class="mx-auto d-block" width="300" src="{{ asset(article.imagePath) }}" />
            <hr>
            <h1>{{ article.title }}</h1>
            <div class="tags">
                {% for tag in article.tags %}
                    <span class="badge badge-info">{{ tag.name }}</span>
                {% endfor %}
            </div>
            <span class="info"><img class="rounded-circle" width="35" height="35" src="https://randomuser.me/api/portraits/women/48.jpg" /> {{ article.author }} - {{ article.publishedAt ? article.publishedAt|ago : 'non publié' }} - {{ article.comments|length }} commentaires | <span class="like-counter">{{ article.heartCount }}</span> <a href="{{ path('article_toggle_heart', {'slug': article.slug}) }}" class="like-article"><i class="far fa-heart" style="color: red;"></i></a></span>
        </div>
        <div>
            {{ article.content|cached_markdown }}
        </div>
    </article>

    <section id="comments">
        <h2>{{ article.nonDeletedComments|length }} commentaires </h2>
        <hr>
        {% for comment in article.nonDeletedComments %}
        <div class="card">
            <div class="card-header">
                {% if comment.isDeleted %}
                    <span class="fa fa-close"></span> supprimé
                {% endif %}
                {{ comment.authorName }} <br />
                {{ comment.createdAt|ago }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ comment.content }}</p>
            </div>
        </div>
        {% endfor %}
    </section>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/news_show.js') }}"></script>
{% endblock %}