{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} {{ title }} {% endblock %}
{% block body %}
    <article>
        <div class="header-article">
            <img class="mx-auto d-block" width="300" src="https://symfony.com/logos/symfony_black_03.png" />
            <hr>
            <h1>{{ title }}</h1>
            <span><img class="rounded-circle" width="35" height="35" src="https://randomuser.me/api/portraits/women/48.jpg" /> Arthur Geay - Publié il y a 4 heures - {{ comments|length }} commentaires | <span class="like-counter">5</span> <a href="{{ path('article_toggle_heart', {'slug': slug}) }}" class="like-article"><i class="far fa-heart" style="color: red;"></i></a></span>
        </div>
        <div>
            {{ content|raw }}
        </div>
    </article>

    <section id="comments">
        <h2>{{ comments|length }} commentaires </h2>
        <hr>
        <ul>
            {% for comment in comments %}
                <li>{{ comment }}</li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/news_show.js') }}"></script>
{% endblock %}